.title {
  font-size: 7vw;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 35vh;
  width: 100%;
}

@media (max-width: 900px) {
  .header {
    justify-content: space-evenly;
    height: 25vh;
    margin-top: 2em;
  }

  .title {
    font-size: 10vw;
  }
}

.inputs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.select,
.search {
  width: 43%;
}
